body {
}
.panel {
    /*min-height: 300px !important;
    max-height: 300 !important;
*/
    height: 300px !important;
    overflow-y: auto;
}
.panel-primary .panel-heading {
    font-size: 20px
 }
.panel-primary .panel-body {
   padding: 0 !important;
}
table thead tr {
    background-color: #e4e4e4;
}
